.password_container{
    background-color: #BBD2C5;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.password_display{
    background-color: white;
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

.password_display h3{
    text-align: center;
    padding: 20px;
    font-weight: 900;
}

.pass{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    border: 2px solid black;
    width: 200px;
    margin-left: 100px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #52c234;
    color: white;
}

.pass div{
    font-size: larger;
    font-weight: 700;
}

.pass div svg{
    height: 30px;
    width: 30px;
}

.pass_btn{
    all:unset;
    cursor: pointer;

}


.pass_password{
    filter:blur(4px);
}

.btn_goback{
    margin-top: 70px;
    margin-left: 140px;
}

#goback{
    background-color: #dd1818;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
display: flex;
align-items: center;
justify-content: center;
font-weight: 600;
gap: 5px;
color: white;
cursor: pointer;
}